.modal-container {
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
}

.content {
  height: 400px;
  width: 400px;
  background-color: #b3c6f8;
  border-radius: 23px;
  margin: 30px auto;
  padding: 10px;
}

.textarea {
  width: 90%;
  height: 80%;
  border-radius: 23px;
  border: none;
  outline: none;
  background-color: white;
  resize: none;
  padding: 20px;
}

.textarea-small {
  width: fit-content;
  padding: 5px 10px;
  text-decoration: none;
  background-color: white;
  border: none;
  color: #444444;
  border-radius: 23px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  resize: none;
}

.buttons {
  display: flex;
  align-items: center;
}

.due-date {
  margin-left: auto;
}
